<head>
  <link rel="stylesheet" href="/static/index.css">
  <meta name="viewport" content="width=device-width">
</head>
<body class="model-open" style="padding-right: 17px">
	<h3> EXPERIMENTAL IMAGE CAPTIONING SERVICE </h3>
	<h5> Read <a href="https://docs.google.com/document/d/1mtTEKggt1PzCAviOu_AIZhgYuPvQP_ex-loVXSwspaY/edit">THIS GUIDE</a> if you haven't used this before </h5>
	<small style="color:grey; font-size:8px">"groups of" button coming in two more weeks</small>
	<select name="image-filter" id="image-filter">
		<option value="SAFE">Safe+Suggestive only (default)</option>
		<option value="any">Everything</option>
		<option value="NSFW">NSFW-only</option>
		<option value="NSFL">100% Grotesque/Grimdark</option>
		<option value="PONY">Anything pony</option>
		<option value="custom">Custom</option>
	</select>
	<span id="filter-menu-toggle" style="visibility:hidden">▶</span>
	<div id="filter-menu" hidden>
		<div style="display:flex">
			<div>
				<label for="superlist">Required tags (all)</label>
				<textarea id="superlist" name="superlist" placeholder="artist:moe, pony"></textarea>
			</div>
			<div>
				<label for="whitelist">Permitted tags (any)</label>
				<textarea id="whitelist" name="whitelist" placeholder="applejack, unicorn, scenery porn"></textarea>
			</div>
			<div>
				<label for="blacklist">Purged tags</label>
				<textarea id="blacklist" name="blacklist" placeholder="scat, vore, eqg"></textarea>
			</div>
			<button id="filter-menu-button" style="margin-top:auto">use filter</button>
		</div>
		<p>Derpi-like arbitrary expressions will NOT work here; please use a simple list of tags</p>
	</div>
	<br>
	<hr>
	<br>
	<div id="error-desc" hidden></div>
	<div style="display: inline-block">
		<code>{{ derpi_id }}</code>
		<code style="float: right">PROGRESS: {{ progress }}</code>
		<br>
		<img id="derpi-img"></img>
	</div>
	<br>
	<div id="tag-dump"></div>
	<form method="POST" action="/api/submit" style="display: inline-block; position:relative">
		<textarea autofocus id="desc" name="desc" style="display: block; height:8em"></textarea>
		<!-- DUMB THINGS HERE -->
		<textarea hidden name="idx" id="derpi-id">{{ derpi_id }}</textarea>
		<input hidden type="number" id="timestamp" name="timestamp">
		<!-- END DUMB THINGS -->
		<br>
		<br>
		<div style="line-height:38px; width: 100%; vertical-align:middle">
			<label for="submit" id="word-count" style="font-size: 38px; display: inline">0</label>
			<button name="submit" style="display: inline; float:right" type="submit" id="submit-button" >Submit Description</button>
		</div>
	</form>
	<br>
	<hr>
	<br>
	<a href=# id="open-export">Export captions</a>
  <div id="modal-body-export" hidden>
		<label>
			<input type="checkbox" id="export-use-filter" checked>
			Use current filter
		</label>
		<label>
			<input type="checkbox" id="export-only-personal" checked disabled>
			Only include my captions (based on IP)
		<label>
			<input type="checkbox" id="export-include-images">
			Export images for textual inversion (requires time and RAM)
		</label>
		<label for="export-min-len">Filter prompts shorter than (words):</label>
		<input type=number id="export-min-len" name="export-min-len" value=10 style="width: 7em" min=0 max=50 step=1>
		<button id="button-export-personal">Export</button>
		</div>
  </div>
	<script src="/static/index.js">please enable js</script>
</body>
