<head>
  <link rel="stylesheet" href="/static/index.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
	<h3> EXPERIMENTAL IMAGE CAPTIONING SERVICE </h3>
	<h5> Read <a href="https://docs.google.com/document/d/1mtTEKggt1PzCAviOu_AIZhgYuPvQP_ex-loVXSwspaY/edit">THIS GUIDE</a> if you haven't used this before </h5>
	<br>
	<hr>
	<br>
	<div id="error-desc" hidden></div>
	<div style="display: inline-block">
		<code>{{ derpi_id }}</code>
		<code style="float: right">PROGRESS: {{ progress }}</code>
		<br>
		<img id="derpi-img"></img>
	</div>
	<br>
	<form method="POST" action="/api/submit" style="display: inline-block; position:relative">
		<textarea id="desc" name="desc" style="display: block; height:500"></textarea>
		<!-- DUMB THINGS HERE -->
		<textarea hidden name="idx" id="derpi-id">{{ derpi_id }}</textarea>
		<input hidden type="number" id="timestamp" name="timestamp">
		<!-- END DUMB THINGS -->
		<br>
		<br>
		<div style="line-height:38px; width: 100%; vertical-align:middle">
			<label for="submit" id="word-count" style="font-size: 38px; display: inline">0</label>
			<button name="submit" style="display: inline; float:right" type="submit" id="submit-button" >Submit Description</button>
		</div>
	</form>
	<script src="/static/index.js">please enable js</script>
</body>
